@{
    ViewData["Title"] = "List Laon Of Borrower";
    Layout = "_LayoutBorrower";

}

<div class="text-center">
    <h1 class="display-4">List Loan</h1>
</div>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3></h3>
    <button class="btn btn-success" id="addLoanButton" data-toggle="modal" data-target="#addLoanModal">Add Loan</button>
</div>
<table class="table-stripped table" id="userTableListLoan">
    <thead>
        <tr>
            <th>No.</th>
            <th>Amount</th>
            <th>Interest Rate</th>
            <th>Duration</th>
            <th>Status</th>
            <th>CreatedAt</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!------MODAL ADD LOAN-->
<div class="modal fade" id="addLoanModal" tabindex="-1" role="dialog" aria-labelledby="addLoanModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLoanModalLabel">Add Loan</h5>
            </div>
            <div class="modal-body">
                <form id="editLoanForm">
                    <div class="form-group">
                        <label for="loanAmount">Amount</label>
                        <input type="number" class="form-control" id="loanaddAmount" required>
                    </div>
                    < <div class="form-group">
                        <label for="loanInterest">Interest Rate</label>
                        <input type="number" class="form-control" id="loanaddInterest" required>
                    </div>
                    <input type="hidden" id="loanaddId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="addLoan()">Save</button>
            </div>

        </div>
    </div>

</div>
<script src="~/js/borrower.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
