@{
    ViewData["Title"] = "History Loan";
    Layout = "_LayoutLender";

}

<div class="text-center">
    <h1 class="display-4">History Lender</h1>
</div>
<table class="table-stripped table" id="userTableListBorrower">
    <thead>
        <tr>
            <th>No.</th>
            <th>Borrower Name</th>
            <th>Borrower Amount</th>
            <th>Balance Amount</th>
            <th>Remaining loan is unpaid</th>
            <th>Status</th>
          
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script src="~/js/historylender.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>