@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin"; 
}

<div class="mt-5 container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">LOGIN</h2>
                </div>
                <div class="card-body">
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="email" class="form-label">Email</label>
                            <input id="email" name="Email" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" name="Password" type="password" class="form-control" required/>
                        </div>
                        <button type="button" class=" btn btn-primary btn-block mt-3" onclick="submitLogin()">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/login.js"></script>
