@{
    ViewData["Title"] = "Master Data User";

}

<div class="text-center">
    <h1 class="display-4">Master Data User</h1>
</div>
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h3></h3> 
    <button class="btn btn-success" id="addUserButton" data-toggle="modal" data-target="#addUserModal">Add User</button>
</div>
<table class="table-stripped table" id="userTable">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Balance</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        // ini dari js
    </tbody>
</table>

<!------MODAL EDIT USER-->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="text" class="form-control" id="userName" requred>
                    </div>
                    <div class="form-group">
                        <label for="userRole">Role</label>
                        <select class="form-control" id="userRole" required>
                            <option value="lender">Lender</option>
                            <option value="borrower">Borrower</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userBalance">Balance</label>
                        <input type="number" class="form-control" id="userBalance" required />
                    </div>
                    <input type="hidden" id="userId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateUser()">Save</button>
            </div>

        </div>
    </div>
    
</div>

<!------MODAL ADD USER-->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="text" class="form-control" id="useraddName" requred>
                    </div>
                    <div class="form-group">
                        <label for="userEmail">Email</label>
                        <input type="email" class="form-control" id="useraddEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="userRole">Role</label>
                        <select class="form-control" id="useraddRole" required>
                            <option value="lender">Lender</option>
                            <option value="borrower">Borrower</option>
                        </select>
                    </div>
                    <input type="hidden" id="useraddId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="addUser()">Save</button>
            </div>

        </div>
    </div>

</div>

<script src="~/js/mstuser.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>